{
	"root": true,
	"extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": ["@typescript-eslint"],
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"rules": {
				"@typescript-eslint/no-shadow": "error",
				"react/jsx-uses-react": "off",
				"react/jsx-props-no-spreading": "error",
				"react/react-in-jsx-scope": "off",
				"import/prefer-default-export": "off",
				"no-shadow": "off",
				"no-undef": "off",
				"no-console": "off",
				"class-methods-use-this": "off",
				"react/function-component-definition": [
					2,
					{
						"namedComponents": "arrow-function",
						"unnamedComponents": "arrow-function"
					}
				],
				"react-hooks/exhaustive-deps": "warn",
				"react/no-array-index-key": "warn"
			}
		},
		{
			"files": ["src/pages/_app.tsx"],
			"rules": {
				"react/jsx-props-no-spreading": "off"
			}
		},
		{
			"files": ["breed-search.tsx"],
			"rules": {
				"jsx-a11y/click-events-have-key-events": "off",
				"jsx-a11y/no-static-element-interactions": "off"
			}
		}
	]
}
