.c-breed-gallery {
	display: flex;
	flex-direction: column;
	padding: map-get($gutters, xxsmall);

	&__title {
		margin-bottom: 1.5rem;
	}

	&__exhibition {
		display: flex;
		overflow-x: auto;
	}

	&__breed {
		display: flex;
		flex-direction: column;
		margin-right: 0.625rem;

		&-image {
			width: 10rem;
			height: 10rem;
			border-radius: 0.625rem;
			overflow: hidden;
			margin-bottom: 0.5rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	@include media(xsmall) {
		padding: map-get($gutters, xsmall);
	}

	@include media(41.875rem) {
		&__exhibition {
			flex-flow: wrap;
		}

		&__breed {
			width: calc(25% - 0.63rem);

			&-image {
				width: 100%;
				height: 100%;
				aspect-ratio: 1/1;
			}
		}
	}

	@include media(small) {
		padding: map-get($gutters, small);
	}

	@include media(medium) {
		padding: map-get($gutters, medium);

		&__breed {
			width: calc(25% - 1rem);
			margin-right: 1rem;

			&-image {
				margin-bottom: 1rem;
			}
		}
	}

	@include media(large) {
		padding: 10rem map-get($gutters, large) 8rem;

		&__title {
			margin-bottom: 3rem;
		}

		&__breed {
			width: calc(25% - 1.5rem);
			margin-right: 1.5rem;

			&-image {
				border-radius: 1rem;
				margin-bottom: 1.5rem;
			}
		}
	}
}
