.c-footer {
	color: $color-white;
	background: $color-black;
	padding: 1.5rem map-get($gutters, xxsmall);
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include media(xsmall) {
		padding: 1.5rem map-get($gutters, xsmall);
	}

	@include media(small) {
		padding: 1.5rem map-get($gutters, small);
	}

	@include media(medium) {
		padding: 2rem map-get($gutters, medium);
	}

	@include media(large) {
		padding: 2.5rem map-get($gutters, large);
	}
}
